*.log
.htaccess
sitemap.xml
sitemap.xml.gz
core/wp-config.php
inc/wp-config.dev.php
inc/wp-config.stage.php
inc/wp-config.prod.php
d_base/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
core/asset/upgrade/
core/asset/uploads/
core/asset/uploads/hello.php/
core/asset/languages/
core/asset//wp-cache-config.php
.DS_Store
*.*~
*.*~~
*.*~~~